form {
    margin-top: 20px;
    padding:0px 120px 0px 120px ;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 2px;
    margin-bottom: 16px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.reviews{
    padding:0px 120px 0px 120px ;

}
.title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

.review-list {
    margin-top: 10px;
}

.review-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
}


.custom-pagination {
    margin-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    color: #333;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f9fa;
}

.page-link:hover {
    background-color: #e9ecef;
}
